@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
 
body{
   transition: 1s;/* on click it will take 2 s */ 
} 

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 20rem;
    /* height: 12rem; */
    padding: 3px;
    border-radius: 7px;
    font-size: 40px;
    background-color:white;
    text-align: center;
}

button{
    
    display: block;
    width: 100%;
    background-color: black;
    color: white;  /* the text color will be white.  */
    border-radius: 7px;
    font-size: 24px;
}